html {
  margin: 0;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--body-font);
  --color-one: #ea4c89;
  /* #88498F; */
  --color-two: #2ea44f;
  /* #779FA1; */
  --color-three: #f082ac;
  /* #E0CBA8;   */
  --color-four: #72967d;
  /* #EE964B;#FF6542;  */
  --color-five: pink;
  --color-six: #2e3f34;
  --heading-font: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --body-font: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* CSS */

h1 {
  /* background-color: var(--color-two); */
  font-size: 4.2rem;
  text-align: center;
  color: var(--color-five);
  text-shadow: 1px 1px 1px black;
  padding: 15px;
  margin-top: 0;
  font-family: var(--heading-font);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  max-width: 80%;
}

.link {
  box-shadow: var(--box-shadow);
  background-color: var(--color-one);
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--body-font);
  font-size: 1.6rem;
  line-height: 20px;
  list-style: none;
  margin: 10px 8px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  border: none;
}

.link:hover,
.link:focus {
  background-color: var(--color-three);
}

#log-in {
  background-color: var(--color-two);
}

#log-in:hover,
#log-in:focus {
  background-color: var(--color-four);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 200px;
  height: 100%;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
  color: var(--color-four);
  /* background-color: var(--color-four); */
  text-shadow: 1px 1px 1px black;
  padding: 5px;
  font-family: var(--body-font);
  margin: 0 auto;
}

form > input {
  margin: 8px;
  padding: 10px;
  box-shadow: var(--box-shadow);
  border: none;
}

form > input:hover,
form > input:focus {
  border: solid 2px var(--color-four);
  cursor: pointer;
}

form > select {
  padding: 10px 50px;
  box-shadow: var(--box-shadow);
  margin: 8px;
  text-align: center;
}

form > select:hover,
form > select:focus {
  border: 2px solid var(--color-four);
  cursor: pointer;
}

form > label {
  margin: 2px;
  font-family: var(--body-font);
  color: var(--color-six);
  font-size: 1.5rem;
}

#image {
  margin: 2px;
  font-family: var(--body-font);
  color: var(--color-six);
  font-size: 1.5rem;
}

input[type="radio"] {
  box-shadow: none;
}

p {
  font-family: var(--body-font);
  font-size: 2rem;
  color: var(--color-six);
}

#log-out {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* margin: 5px; */
}

#addPosts {
  margin: 0 auto;
}

.fa-plus {
  font-size: 1.5rem;
  margin-left: 5px;
  color: white;
}

.add-post {
  padding: 10px 40px;
  margin-top: 10px;
}

#img-post {
  height: 150px;
  width: 150px;
  object-fit: scale-down;
}

.post {
  margin: 20px;
  box-shadow: var(--box-shadow);
  padding: 10px;
  height: 250px;
  width: 250px;
}

#post-ul {
  list-style: none;
  padding: 10px;
}

h3,
#animal-type {
  font-size: 2rem;
  text-align: center;
  color: white;
  background-color: var(--color-four);
  padding: 5px;
  font-family: var(--heading-font);
  margin: 0;
  border-radius: 5px;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

@media screen and (min-width: 768px) {
  #post-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
  }
}

#remove {
  margin: 0;
}

.fa-trash-alt {
  margin-left: 5px;
}

.hidden {
  display: none;
}
